# Frontend
VITE_STRIPE_PUBLISHABLE_KEY=

# Backend
STRIPE_SECRET_KEY=
STRIPE_PRODUCT_ID=prod_TJzL7qCcb6i4Tz
CLIENT_ORIGIN=http://localhost:3000
STRIPE_SUCCESS_URL=http://localhost:3000/checkout-success?session_id={CHECKOUT_SESSION_ID}
STRIPE_CANCEL_URL=http://localhost:3000/checkout-cancel
PORT=4242
